<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
    <title>TimeDisplay</title>
</head>
<body>
    <div class = "time_h">
        <h2>Let's display magic Time!</h2>
        <h2>TIME of NOW</h2>
    </div>

    <div class = "time">
        <h3>@ViewBag.DateDisplay</h3>
        <h3>@ViewBag.DayDisplay</h3>
        <h3>@ViewBag.TimeDisplay</h3>
    </div>

    <div class = "time">
        <h3>@ViewBag.DateDisplay2</h3>
        <h3>@ViewBag.DayDisplay2</h3>
        <h3>@ViewBag.TimeDisplay2</h3>
    </div>


</body>
</html>